.accordionTypography p{
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: 500;
}
.resultado{
    margin-top: -5px;
}
.notaDia{
    font-size: 1em;
}
.tituloNota{
    font-size: 1em;
}
.nota{
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.nota > *{
    margin-left: 10px;
    margin-right: 10px;
}
.vagas{
    margin-top: 10px;
    font-size: 0.9em;
}
.bonus{
    font-size: 0.9em;
}
@media (max-width:500px) {
    .notaDia{
        font-size: 1.2em;
    }
    .tituloNota{
        font-size: 1.2em;
    }
}