.cota{
    background-color: #D9D9D9;
    padding: 1.5em;
    border-radius: 25px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-weight: 500;
    position: relative;
    top: 25px;
}
.resultado{
    margin-top: -5px;
}
.notaDia{
    font-size: 1em;
}
.tituloNota{
    font-size: 1em;
}
.nota{
    background-color: white;
    padding: 10px;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.nota > *{
    margin-left: 10px;
    margin-right: 10px;
}
.vagas{
    margin-top: 10px;
    font-size: 0.9em;
}
.bonus{
    font-size: 0.9em;
}
@media (max-width:500px) {
    .notaDia{
        font-size: 1.2em;
    }
    .tituloNota{
        font-size: 1.2em;
    }
}