.home{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
div.home > *{
    width: 50%;
}
div.home > *{
    margin-top: 10px;
}
div.home h1{
    font-size: 3em;
    font-weight: 300;
}
div.home strong{
    font-weight: 700;
}
div.home p{
    font-size: 1em;
    font-weight: 300;
}
.buttonContainer{
    display: flex;
    justify-content: center;
}
@media (max-width: 500px){
    div.home > *{
        width: 90%;
    }
    div.home h1{
        font-size: 6vw;
    }
    div.home p{
        font-size: 4vw;
    }
}
#button{
    background-color: #96AED2;
    width: 100%;
    font-weight: 700;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1.5em;
    transition: .5s;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
}
#button:hover{
    background-color:#7b8fac;
}
@media (min-width:750px) {
    #button{
        width: 400px;
    }
}