.footer{
    background-color: #222;
    color: white;
    padding: 3em;
    text-align: center;
}
.list{
    font-size: 2em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.list li{
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
}
.list a li:visited{
    color: white;
}
.list li:hover{
    color: #ffbb33;
    cursor: pointer;
}
p{
    margin-bottom: 10px;
}